{% extends 'base.html' %}
{% block content %}

{% load static %}

        <!-- Header-->
        <br><br><br>
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
            </div>
        </header>
        <!-- About section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Entre em Contato</h2>
                        <br><br>
                        <p class="lead">Tem alguma dúvida, sugestão ou gostaria de compartilhar algo conosco? Estamos sempre prontos para ouvir você!</p>
                        <p>Envie-nos uma mensagem e responderemos o mais rápido possível. Sua opinião é muito importante para nós e nos ajuda a melhorar continuamente.</p>
                        <p>Você pode nos contatar através do formulário abaixo ou enviar um e-mail diretamente para <strong>contato@blogexemplo.com</strong>. Estamos ansiosos para ouvir você!</p>
                        <p>Obrigado por fazer parte da nossa comunidade!</p>
                    </div>
                </div>
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock%}